@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

* {
    font-family: 'Koulen', cursive;
}

.general-page{
    background-color: aquamarine;
}

.nike_wear_quality_q {
    text-align: center;
    font-family: 'Koulen', cursive;
    
}

.nike_wear_quality {
    font-size: 20px;
    font-family: 'Koulen', cursive;
    position: relative;
    text-align: left;
}

